{% extends "base/base.html" %}


{% comment %} ***** Head ***** {% endcomment %}

{% block page_title %}
  {{ emp.get_display_name }} Profile
{% endblock page_title %}

{% block css %}
  {% include "css_support.html" %}
  {% include "employer_pages/css.html" %}
{% endblock %}

{% comment %} ***** Body ***** {% endcomment %}

{% block body_id %}"employers-profile"{% endblock body_id %}

{% block body_class %}
  "employers-profile{% if linkedin_login %} contacts{% endif %}"
{% endblock body_class %}

{% comment %} ***** Visible HTML ***** {% endcomment %}
  
  {% block content %}
    {% include "employer_pages/profile_content.html" %}
  {% endblock content %}

{% comment %} ***** Hidden HTML ***** {% endcomment %}


{% comment %} ***** Javascript Support ***** {% endcomment %}

  {% block js_support %}
    {% include "employer_pages/js_support_profile.html" %}
  {% endblock js_support %}

{% comment %} ***** Tracking ***** {% endcomment %}
