<div class="row">
  <div class="span3">
    {{ education_form.institution.label_tag }}
    {{ education_form.institution }}<span class="error">{% for err in education_form.institution.errors %}{{ err }}{% endfor %}</span>
  </div>
  <div class="span3">
    {{ education_form.degree.label_tag }}
    {{ education_form.degree }}<span class="error">{% for err in education_form.degree.errors %}{{ err }}{% endfor %}</span>
  </div>
</div>

<div class="row">
  <div class="span7">
    {{ education_form.start_date.label_tag }}
    <span class="span" style="margin: 0;">
      {{ education_form.start_date }}<span class="error">{% for err in education_form.start_date.errors %}{{ err }}{% endfor %}</span>
    </span>
    <span class="span">to</span>
    <span class="span2">
      {{ education_form.end_date }}<span class="error">{% for err in education_form.end_date.errors %}{{ err }}{% endfor %}</span>
    </span>
    <div class="cb">{{ education_form.current }}{{ education_form.current.label_tag }}</div>
  </div>
</div>
{% if education_form.instance.pk %}{{ education_form.DELETE.as_hidden }}{% endif %}
{% for hidden in education_form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% include "edit-educationformset-buttons.html" %}