{% extends "mobile/base.html" %}

{% load i18n %}

{% block "content" %}
  <div class="message-title">{{ message_title }}</div>
  <div class="message-text">{{ message_text }}</div>
  <div>
    <a class='btn btn-orange message-button' href='{{ message_button }}' %}'>{{ message_button_text }}</a>
  </div>
{% endblock %}

{% block "scripts" %}
  <script type="text/javascript">
    $(function() {
      window.appView = new AppViewBase({ model: new AccountModel(SH), el: 'body' });
    });
  </script>
{% endblock %}
