{% load absolute_http_url %}

<div class="footer_site_links canada">
  <ul>
    <li><span class="icon-separator"></span>
      <a rel="nav" class="evtc" data-event="footer_employers"
         href="http://employers.simplyhired.com/overview-ca">
        {{ translations.employer_solutions_link_text }}
      </a>
    </li>
    <li><span class="icon-separator"></span>
      <a rel="nav" class="evtc" data-event="footer_browse"
         href="{% absolute_http_url "/job-search/" %}">
        {{ translations.browse_jobs_link_text }}
      </a>
    </li>
    <li><span class="icon-separator"></span>
      <a class="evtc" data-event="footer_publishers"
         href="{% absolute_http_url "/a/publishers/overview" %}">
        {{ translations.publisher_solutions_link_text }}
      </a>
    </li>
    <li><span class="icon-separator"></span>
      <a rel="nav" class="evtc" data-event="footer_about"
         href="{% absolute_http_url "/a/our-company/about-us" %}">
        {{ translations.about_simply_hired_link_text }}
      </a>
    </li>
    <li class="intl_dropdown">
      <a id="l_simplyhired_intl" class="evthi intl"
         data-event="header_country_dropdown">
        {{ translations.international_menu_text }} &#9650;
      </a>
    </li>
  </ul>
</div><!--footer_site_links-->
